body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
}

.display {
    background-color: #1c1c1c;
    color: #fff;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display input {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #ddd;
}

.equal {
    grid-column: span 2;
    background-color: #ff7f50;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.equation {
    font-size: 1em;
    color: #a0a0a0;
    height: 25px;
}

#history {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
